__pycache__/
*.py[cod]
*.so
*.pyd

venv/
.env/
env/

.vscode/

*.log
*.csv
*.db
*.sqlite3
logs/

models/
*.pth

data/
predict_imagens/

.DS_Store
Thumbs.db

.streamlit/secrets.toml
.streamlit/secrets.toml.TXT
*.key
*.pem
*.crt

*.pdf
*.docx

*.bak
*.swp
*.tmp
